canvas{ 
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
}

// #blockData {
//     margin-left: 1em;
//     margin-right: 1em;
// }

#blockInfo{
    margin-top: 3em;
}

input{
    margin-top: 4em;
}

ngb-timepicker{
    display: block;
    margin-left: 2.2em;
}
