  
  
  <div class="modal-header">
    <h1 class="modal-title">Block Information</h1>
    <hr>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <canvas id="lineChart">{{ chart }}</canvas>
    </div>

    <div id="blockInfo">
      <div class="row" id="blockData">
        <h5><b>Block Centroid:</b> {{blockCentroid}}</h5>
      </div>

      <div class="row" id="blockData">
        <h5><b>Block Population:</b> {{blockPopulation}}</h5>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>