[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"autopep8" = "*"
"pep8" = "*"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-login = "*"
pyyaml = "*"

[requires]
python_version = "3.6"
