<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chart_div"></div>
     -->
    <!-- <div class="col-md-9 mx-0">
      <div class="card">
        <div class="card-body shadow p-3"> -->
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        <!-- <div class="container" id="frugalmap">
        </div>
        </div>
      </div>
    </div> -->

    <div class="container">
      <div class="card-deck">
        <div class="card" style="flex-grow:4">
          <div class="container" id="frugalmap"></div>
        </div>
        <div class="card scroll">
          <form>
            <div class="form-group px-2">
              <label for="0oclock">Time: 00:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>     
            <div class="form-group px-2">
              <label for="0oclock">Time: 01:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 02:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 03:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 04:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 05:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 06:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 07:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 08:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 09:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 10:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 11:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 12:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 13:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 14:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 15:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 16:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 17:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 18:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 19:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 20:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 21:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>            
            <div class="form-group px-2">
              <label for="0oclock">Time: 22:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>
            <div class="form-group px-2">
              <label for="0oclock">Time: 23:00</label>
              <input type="number" step="0.01" min="0" max="1" class="form-control" placeholder="00:00">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
