<!-- <div class="row">
  <div class="col-md-5 mx-auto">
    <div class="card shadow p-3">
      <img class="card-img-top" src="assets/sprites/thanos.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Responsible for the frontend of the application.</p>
      </div>
    </div>
  </div>
  <div class="col-md-5 mx-auto">
      <div class="card shadow p-3">
        <img class="card-img-top" src="assets/sprites/tsoulos.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Responsible for the backend of the website.</p>
        </div>
      </div>
    </div>
</div> -->


<div class="container">

    <!-- Introduction Row -->
    <h1 class="my-4 text-center">Contact Us </h1>

    <!-- Team Members Row -->
    <div class="row">
      <div class="col-lg-4 col-sm-6 text-center mb-4 mx-auto">
          <div class="card" id="card-hover">
        <div class="card-body">
        <img class="rounded-circle img-fluid d-block mx-auto" src="assets/sprites/thanos.jpg" alt="">
        <h3>Thanos Stamatakis<br>
          <h4 class='bg-success'>-Front End-</h4>
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        <div class="thanos">
            <a class="btn" href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn" href="#">
              <i class="fab fa-google"></i>
            </a>
            <a class="btn" href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
      </div>
    </div>
    </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4 mx-auto">
        <img class="rounded-circle img-fluid d-block mx-auto" src="assets/sprites/tsoulos.jpg" alt="">
        <h3>George Tsoulos<br>
          <h4 class="bg-primary">-Back End-</h4>
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        <div class="tsoulos">
            <a class="btn" href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn" href="#">
              <i class="fab fa-google"></i>
            </a>
            <a class="btn" href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
      </div>
    </div>

</div>