<html>  
  <body>
    <div class="container" id="external-container">
      <!-- Team Members Row -->
      <div class="row">
        <div class="col text-center mb-4 mx-auto">
          <div class="card" id="card-hover">
            <div class="card-body">
              <img class="rounded-circle img-fluid d-block mx-auto" src="assets/sprites/thanos.jpg" alt="">
              <h3>Thanos Stamatakis<br>
                <h4 class='bg-success'>-Front End-</h4>
              </h3>
              <p class="card-subtitle mb-2 text-muted">Computer Engineering and Informatics Department student. Currently working as a frontend developer.</p>
              <div class="thanos">
                <a class="btn" href="#">
                  <i class="fab fa-facebook"></i>
                </a>
                <a class="btn" href="#">
                  <i class="fab fa-google"></i>
                </a>
                <a class="btn" href="#">
                  <i class="fab fa-github"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center mb-4 mx-auto">
          <div class="card" id="card-hover">
            <div class="card-body">
              <img class="rounded-circle img-fluid d-block mx-auto" src="assets/sprites/tsoulos.jpg" alt="">
              <h3>George Tsoulos<br>
                <h4 class="bg-primary">-Back End-</h4>
              </h3>
              <p class="card-subtitle mb-2 text-muted">Computer Engineering and Informatics Department student. Currently working as a backend developer.</p>
              <div class="tsoulos">
                <a class="btn" href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn" href="#">
                  <i class="fab fa-google"></i>
                </a>
                <a class="btn" href="#">
                  <i class="fab fa-github"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>