[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"autopep8" = "*"
"pep8" = "*"
pandas = "*"
fastkml = "*"
lxml = "*"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-login = "*"
pyyaml = "*"
redis = "*"
flask-restful = "*"
flask-restplus = "*"
shapely = "*"
flask-cors = "*"
sklearn = "*"
pyjwt = "*"

[requires]
python_version = "3.6"
