<div class="card col-lg-6 mx-auto" id="registerCard">

  <div class="card-body">
  <h1 class="card-title mx-auto text-center">Login</h1>
  <hr>
  <form [formGroup]="rForm" (ngSubmit)="callLoginUser(rForm.value)">
      <!-- Username Field -->
      <div class="form-group text-center">
          <label for="usernameBootField">Username</label>
          <input type="text" class="form-control col-lg-5 mx-auto" id="usernameBootField" placeholder="Enter your username" formControlName="username">
          <div id="warning" class="alert-warning bg-warning text-white col-lg-5 mx-auto" *ngIf="!rForm.controls['username'].valid  && rForm.controls['username'].touched">The username is required to log in.</div>
      </div>
      <!-- Password Field -->
      <div class="form-group text-center">
          <label for="passwordBootField">Password</label>
          <input type="password" class="form-control col-lg-5 mx-auto" id="passwordBootField" placeholder="Enter your password" formControlName="password">
          <div id="warning" class="alert-warning bg-warning text-white col-lg-5 mx-auto" *ngIf="!rForm.controls['password'].valid  && rForm.controls['password'].touched">The password is required to log in.</div>
      </div>
      <!-- Submit Button -->
      <div class="form-group text-center">
          <button type="submit" class="btn btn-{{btnColor}} text-white" [disabled]="!rForm.valid">Login</button>
      </div>
      <div id="danger" class="text-center alert-danger bg-danger text-white col-lg-5 mx-auto" *ngIf="btnColor=='danger'">Username or password incorrect.</div>

  </form>
  </div>
</div>
