<!DOCTYPE html>

<head>
  <!-- Using jquery cdn -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename="js/layout.js")}}"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Using materializeCSS icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Thanos Website</title>
  {%endif%}
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="{{ url_for('home') }}" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </div>
  </nav>
  <!-- Sidenav container  -->
  <ul class="sidenav" id="mobile-demo">
    <li><a href="{{ url_for('about') }}">About</a></li>
  </ul>
  <h1>Thanos Stamatakis</h1>
  {% block content %}{% endblock %}

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  
</body>

</html>